* {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto';
}

.score-card-container {
  padding: 60px;
  background-image: url('https://assets.ccbp.in/frontend/react-js/match-game-score-card-sm-bg.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.temp-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.trophy-container {
}

.trophy-image {
  width: 200px;
  height: 200px;
}
.score-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.score-heading {
  color: white;
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}
.score {
  color: white;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 30px;
}
.play-again-button {
  border: none;
  background-color: #cf60c8;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 50px;
}
.play-again-image {
  color: white;
  margin-right: 5px;
  height: 20px;
  width: 20px;
}
.play-again-text {
  color: white;
  font-weight: bold;
  font-size: 15px;
}
